@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Password Generator</h1>

    <br />
    <p>Please click @Html.ActionLink("here", "Register", "Account") to generate a password. </p>
</div>

