@model LoginApplication.Models.UserAccount

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{

<p>
    Here is your new password <b>@Model.Password</b> please remember it only lasts 30 seconds.  
</p>
}


